body {
  background-color: #EDF2F6;
  width: 100%;
  margin: auto;
}

* {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
}
@media (max-width: 599px) {
  * {
    font-size: 0.8rem;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #EDF2F6;
  transition: color 0.5s ease-out;
}
a:hover {
  color: #FF5656;
}

p {
  margin-top: 24px;
  font-family: "roboto", sans-serif;
  margin: auto;
  padding: 24px 24px;
  text-align: center;
}
@media (max-width: 599px) {
  p {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 1px;
  }
}

button {
  width: 50%;
  margin: auto;
  color: #3A6FA6;
  border-radius: 16px;
  height: 2rem;
  width: 80px;
  border: 1px solid #3A6FA6;
  box-shadow: 1px 1px #3A6FA6;
  cursor: pointer;
}

.devicons {
  margin: 80px 80px 0 80px;
}
.devicons > h3 {
  text-align: left;
  font-style: italic;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.5rem;
  padding-left: 48px;
}

/* Easy Scroll Dots 2.0.2 --- https://github.com/Superhands89/EasyScrollDots
* Quickly add anchor points throughout your web page/application and have navigational dots automatically appear
* in a fixed position on the side of the page. This allows the user to click to scroll though sections of the page,
* and it updates as they scroll.
*
* By Superhands89 2019-2022 --- https://github.com/Superhands89/
*
* GPLv3 Licence for open source use only
* or purchase a Single Commercial License at https://gum.co/TdtEX
* or purchase an Extended Commercial License at https://gum.co/NGfmlw
*/
.scroll-indicator-controller {
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  left: 10px;
  z-index: 999;
}
.scroll-indicator-controller.indi-mobile > div span {
  display: none;
}
@media (min-width: 1025px) {
  .scroll-indicator-controller {
    right: 20px;
  }
}
.scroll-indicator-controller > div {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #3A6FA6;
  background: #3A6FA6;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: background 0.4s ease;
  will-change: transition;
}
.scroll-indicator-controller > div span {
  color: #FF5656;
  position: absolute;
  left: calc(100% + 8px);
  white-space: nowrap;
  top: 50%;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50%) translateX(10px);
  transition: all 0.4s ease;
  will-change: transition;
}
@media (hover: none) {
  .scroll-indicator-controller > div span {
    display: none;
  }
}
.scroll-indicator-controller > div span:after {
  content: "-----";
  padding-left: 5px;
  letter-spacing: -2px;
  font-family: arial, sans-serif;
  vertical-align: text-top;
  line-height: 14px;
}
@media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateY(-50%) translateX(0px);
  }
}
.scroll-indicator-controller > div.active {
  background: #FF5656;
  border-color: #FF5656;
}

@supports (-ms-ime-align: auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}
hr {
  width: 60%;
}

.P-slides__content--title-underline {
  background: #494953;
  height: 4px;
  width: 80px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 24px;
}

footer {
  text-align: center;
}

.P-slides__content--form {
  border: 1px black solid;
  border-radius: 24px;
  box-shadow: 2px 2px 2px #3A6FA6;
  width: 75%;
  padding: 32px;
}

.P-slides__content--contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1rem;
  max-width: 500px;
}

textarea {
  height: 160px;
}

@media (max-width: 599px) {
  button {
    color: white;
  }
}

.P-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: #494953;
  padding: 0 16px;
}
@media (max-width: 599px) {
  .P-navbar {
    height: 56px;
    position: fixed;
  }
}
.P-navbar__logo {
  flex-basis: 25%;
  align-items: center;
  margin-left: 16px;
}
@media (max-width: 599px) {
  .P-navbar__logo {
    margin-left: 12px;
  }
}
.P-navbar__logo > a {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5rem;
}
@media (max-width: 599px) {
  .P-navbar__logo > a {
    font-size: 0.9rem;
  }
}
.P-navbar__logo__links {
  flex-basis: 25%;
}

ul {
  list-style: none;
  color: #3A6FA6;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: 599px) {
  ul {
    justify-content: space-evenly;
  }
}
ul li {
  margin-right: 16px;
  padding-right: 24px;
  font-weight: 400;
  transition: background 0.4s ease;
  will-change: transition;
}
@media (max-width: 599px) {
  ul li {
    margin-left: 2px;
    margin-right: 8px;
    padding-right: 8px;
  }
}
ul li > a {
  font-size: 1.5rem;
}
@media (max-width: 599px) {
  ul li > a {
    font-size: 1rem;
  }
}
ul li > a.active-link {
  color: #FF5656;
}

i {
  font-size: 2rem;
}
@media (max-width: 599px) {
  i {
    font-size: 1.8rem;
  }
}

#welcome {
  padding-top: 46px;
  height: 100vh;
}
@media (max-width: 599px) {
  #welcome {
    padding-top: 72px;
  }
}

.P-slides {
  color: #494953;
}
.P-slides__content {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  scroll-behavior: smooth;
}

.section {
  text-align: center;
  align-self: center;
}
@media (max-width: 599px) {
  .section {
    flex: 0;
  }
}
.section > p {
  margin-top: 74px;
  font-family: "roboto", sans-serif;
  width: 50%;
  margin: auto;
  padding: 24px 24px;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 599px) {
  .section > p {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 1px;
    width: 75%;
  }
}

.lewagon {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

#about {
  height: 100vh;
}

.P-slides__content--about {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  letter-spacing: 0.1rem;
}
.P-slides__content--about > p {
  text-align: justify;
}
@media (max-width: 599px) {
  .P-slides__content--about {
    display: block;
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .P-slides__content--about {
    display: inline;
    margin-top: 40px;
  }
  .P-slides__content--about > p {
    width: 90%;
  }
}

.profile {
  width: 25%;
  border-radius: 16px;
  margin: auto;
}
@media (max-width: 599px) {
  .profile {
    width: 304px;
    margin-top: 40px;
  }
}

.P-slide__project {
  margin: 32px;
  padding: 16px;
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  color: #494953;
}
@media (max-width: 599px) {
  .P-slide__project {
    display: block;
    width: 80%;
  }
}
.P-slide__project--details p {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 32px;
  align-self: end;
}
.P-slide__project--media {
  flex-grow: 1;
  align-self: center;
}/*# sourceMappingURL=main.css.map */