body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

* {
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: hwb(204 36% 12%);
  transition: color 0.5s ease-out;
}
a:hover {
  color: #d45575;
}

.devicons {
  margin: 64px;
}
.devicons > h3 {
  text-align: left;
  font-style: italic;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.5rem;
  padding-left: 48px;
}

/* Easy Scroll Dots 2.0.2 --- https://github.com/Superhands89/EasyScrollDots
* Quickly add anchor points throughout your web page/application and have navigational dots automatically appear
* in a fixed position on the side of the page. This allows the user to click to scroll though sections of the page,
* and it updates as they scroll.
*
* By Superhands89 2019-2022 --- https://github.com/Superhands89/
*
* GPLv3 Licence for open source use only
* or purchase a Single Commercial License at https://gum.co/TdtEX
* or purchase an Extended Commercial License at https://gum.co/NGfmlw
*/
.scroll-indicator-controller {
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  left: 10px;
  z-index: 999;
}
.scroll-indicator-controller.indi-mobile > div span {
  display: none;
}
@media (min-width: 1025px) {
  .scroll-indicator-controller {
    right: 20px;
  }
}
.scroll-indicator-controller > div {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #476072;
  background: #476072;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: background 0.4s ease;
  will-change: transition;
}
.scroll-indicator-controller > div span {
  color: #d45575;
  position: absolute;
  left: calc(100% + 8px);
  white-space: nowrap;
  top: 50%;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50%) translateX(10px);
  transition: all 0.4s ease;
  will-change: transition;
}
@media (hover: none) {
  .scroll-indicator-controller > div span {
    display: none;
  }
}
.scroll-indicator-controller > div span:after {
  content: "-----";
  padding-left: 5px;
  letter-spacing: -2px;
  font-family: arial, sans-serif;
  vertical-align: text-top;
  line-height: 14px;
}
@media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateY(-50%) translateX(0px);
  }
}
.scroll-indicator-controller > div.active {
  background: #d45575;
  border-color: #d45575;
}

@supports (-ms-ime-align: auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}
.P-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100vw;
  top: 0;
  height: 48px;
  background-color: #334257;
  color: hwb(204 36% 12%);
}
.P-navbar__logo {
  flex-basis: 25%;
  align-items: center;
  margin-left: 16px;
}
.P-navbar__logo > a {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  flex-basis: 25%;
  color: hwb(204 36% 12%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li {
  margin-right: 16px;
  padding-right: 24px;
  font-weight: 400;
  transition: background 0.4s ease;
  will-change: transition;
}
ul li > a.active-link {
  color: #d45575;
}

i {
  font-size: 2rem;
}

.P-slides {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: #334257;
}
.P-slides__navigation {
  width: 48px;
  max-height: fit-content;
  position: fixed;
  padding-top: 30%;
  display: inline-block;
  z-index: 2;
  background-color: transparent;
}
.P-slides__navigation--dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #476072;
  margin: 8px;
}
.P-slides__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-right: 56px;
  top: 80px;
  left: 56px; */
  z-index: 1;
  scroll-behavior: smooth;
  height: calc(100vh - 2rem);
  width: 100%;
}

.section {
  height: 100%;
  width: 100%;
  margin-left: 56px;
  text-align: center;
  align-self: center;
  padding-top: 56px;
  flex: 1 0 100%;
}
.section > p {
  margin-top: 48px;
}

.lewagon {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.P-slides__content--track--about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.P-slides__content--track--about p {
  width: 50%;
  margin: auto;
  text-align: justify;
  line-height: 40px;
}
.P-slides__content--track--about img {
  margin: auto;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}

.P-slides__content--title-bar {
  background: #334257;
  height: 4px;
  width: 80px;
  border-radius: 8px;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
