@import "./utils/variables";

body {
    width: 100%;
}

.container {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.P-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
        flex-basis: 25%;
        align-items: center;
    }
}

ul {
    list-style: none;
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
        margin-right: 16px;
        padding-right: 24px;  
    }
}

i {
    font-size: 2rem;
}

