@import "../utils/variables";

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    background-color: $color-background;
}

* {
    font-family: $font-main;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $color-lightfont;
    transition: color 0.5s ease-out;

    &:hover {
        color: $color-active;
    }
}
