@import "../utils/variables";
@import "../utils/mixin";

.P-slides__content--contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1rem;
}

textarea {
  width: 360px;
  height: 160px;
}
