@import "../utils/variables";

.P-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 48px;
    width: 100%;
    background-color: $color-nav;
    padding: 0 16px;

    @include for-size(tablet-portrait) {
      height: 56px;
      position: fixed;
    }

    &__logo {
        flex-basis: 25%;
        align-items: center;
        margin-left: 16px;
        @include for-size(tablet-portrait) {
          margin-left: 12px;
        }

        > a {
            font-family: $font-logo;
            font-size: 1.5rem;
            @include for-size(tablet-portrait) {
                font-size: 0.9rem;
              }
        }

      &__links {
        flex-basis: 25%;
      }
    }
}

ul {
    list-style: none;
    color: $color-lightfont;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include for-size(tablet-portrait) {
      justify-content: space-evenly;
    }

    li {
        margin-right: 16px;
        padding-right: 24px;
        font-weight: 400;
        transition: background 0.4s ease;
        will-change: transition;

        @include for-size(phone) {
          margin-left: 2px;
          margin-right: 8px;
          padding-right: 8px;
        }

        > a {
            font-size: 1.5rem;
            @include for-size(tablet-portrait){
              font-size: 1rem;
            }
            &.active-link {
                color: $color-active;
            }
        }
    }
}


i {
    font-size: 2rem;
    @include for-size(tablet-portrait) {
      font-size: 1.8rem;
    }
}
