@import "../utils/variables";

.P-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100vw;
    top: 0;
    height: 48px;
    background-color: $color-nav;
    color: $color-lightfont;
    &__logo {
        flex-basis: 25%;
        align-items: center;
        margin-left: 16px;
        > a {
            font-family: 'Shadows Into Light', cursive;
            font-size: 1.5rem;
        }
    }
}

ul {
    list-style: none;
    flex-basis: 25%;
    color: $color-lightfont;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
        margin-right: 16px;
        padding-right: 24px;
        font-weight: 400;
        transition: background 0.4s ease;
        will-change: transition;

        > a {
            &.active-link {
                color: $color-active;
            }
        }
    }
}


i {
    font-size: 2rem;
}