button {
  width: 50%;
  margin: auto;
  color: $color-lightfont;
  border-radius: 16px;
  height: 2rem;
  width: 80px;
  border: 1px solid $color-lightfont;
  box-shadow: 1px 1px $color-lightfont;
  cursor: pointer;
}
