@import "../utils/variables";

.P-slides {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-nav;

    &__navigation {
        width: 48px;
        max-height: fit-content;
        position: fixed;
        padding-top: 30%;
        display: inline-block;
        z-index: 2;
        background-color: transparent;

        &--dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-darkextra;
            margin: 8px;
        }
    

        
    }
    
    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* margin-right: 56px;
        top: 80px;
        left: 56px; */
        z-index: 1;
        scroll-behavior: smooth;
        height: calc(100vh - 2rem);
        width: 100%;
    } 
}

.section {
    height: 100%;
    width: 100%;
    margin-left: 56px;
    text-align: center;
    align-self: center;
    padding-top: 56px;
    flex: 1 0 100%;
}

.lewagon {
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.P-slides__content--track--about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    p {
        width: 50%;
        margin: auto;
        text-align: justify;
        line-height: 40px;
    }

    img {
        margin: auto;
    }
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.P-slides__content--title-bar {
    background: $color-nav;
    height: 4px;
    width: 80px;
    border-radius: 8px;
    margin: auto;
}