@import "../utils/variables";
@import "../utils/mixin";

#about {
  @include for-size(tablet-landscape) {
    height: 100vh;
  }
}
.P-slides__content {
  &--about {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    letter-spacing: 0.1rem;

    >p {
      text-align: justify;
    }

    @include for-size(tablet-portrait) {
      display: block;
      margin-top: 40px;
    }

    @include for-size(tablet-landscape) {
      display: inline;
      margin-top: 40px;

      > p {
        width: 90%;
      }
    }

  }
}

.profile {
  width: 25%;
  border-radius: 16px;
  margin: auto;

  @include for-size(tablet-portrait) {
    width: 304px;
    margin-top: 40px;
  }
}
