@import "../utils/variables";
@import "../utils/mixin";

.P-slides {
    width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: $color-nav;

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* margin-right: 56px;
        top: 80px;
        left: 56px; */
        z-index: 1;
        scroll-behavior: smooth;
        height: calc(100vh - 2rem);
    }
}

.section {
    width: 100vw;
    text-align: center;
    align-self: center;
    padding-top: 32px;
    flex: 1 0 100%;

    >p {
        margin-top: 74px;
        font-family: $font-main;
        width: 50%;
        margin: auto;
        padding: 24px 24px;
        line-height: 40px;
        text-align: center;

        @include for-size(phone){
          font-style: normal;
        }
    }
}

.lewagon {
    width: 100px;
    height: 100px;
    border-radius: 16px;
}

.P-slides__content {
  &--about{
    display: flex;
    flex-direction: row;
    padding-top: 56px;
    letter-spacing: 0.1rem;

    >p {
      text-align: justify;
    }

    @include for-size(phone) {
      display: inline;
      line-height: 32px;
    }
  }

  &--project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.P-slide__project {
  >video {
    width: 344px;
    border-radius: 16px;
    box-shadow: 1px 2px grey;
  }
}

.profile {
    width: 100px;
    height: 200px;
    border-radius: 16px;
    margin: auto;
    width: 30%;
}
