@import "../utils/variables";

.P-slides {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &__navigation {
        width: 48px;
        max-height: fit-content;
        position: fixed;
        padding-top: 22%;
        display: inline-block;
        z-index: 2;
        background-color: transparent;

        &--dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-darkextra;
            margin: 8px;

            .active {
                background-color: $color-lightfont;
            }
        }
    

        
    }
    
    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 56px;
        top: 80px;
        left: 56px;
        z-index: 1;
    } 
}

.section {
    height: 100vh;
    margin-left: 56px;
    text-align: center;
    align-self: center;
}

.lewagon {
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.P-slides__content--track--about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    p {
        width: 50%;
        margin: auto;
        text-align: justify;
        line-height: 40px;
    }

    img {
        margin: auto;
    }
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 16px;
}
