@import "../utils/variables";
@import "../utils/mixin";

.P-slide__project {
  margin: 32px;
  padding: 16px;
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba($color-nav, 0.5);
  border-radius: 24px;
  color: $color-background;

  @include for-size(phone) {
    display: block;
  }
  &--details {

    p {
        text-align: justify;
        letter-spacing: 1px;
        line-height: 32px;
        align-self: end;
      }
  }


  &--media {
    flex-grow: 1;
    align-self: center;
  }

}
