$color-nav: #0C1059;
$color-background: #D9D3CC;
// $color-darkextra: #e6beae;
$color-lightfont: #A9BF99;
$color-active: #BF9E80;

$font-main: 'roboto', sans-serif;
$font-logo: 'Shadows Into Light', cursive;
$fond-rounded: 'Poppins', sans-serif;
