$color-nav: #334257;
$color-background: #EEEEEE;
$color-darkextra: #476072;
$color-lightfont: hwb(204 36% 12%);
$color-active: #d45575;

$font-main: 'roboto', sans-serif;
$font-logo: 'Shadows Into Light', cursive;
$fond-rounded: 'Poppins', sans-serif;