$color-nav: #494953;
$color-background: #EDF2F6;
$color-lightfont: #3A6FA6;
$color-active: #FF5656;
$color-cards: #F4F4F4;

$font-main: 'roboto', sans-serif;
$font-logo: 'Shadows Into Light', cursive;
$fond-rounded: 'Poppins', sans-serif;
